.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.sobremim-conteudo{
    flex-direction: column;
    display: flex;
    margin-top: 150px;
    margin-left: 325px;
    gap: 20px;
}

.sobremim-conteudo h3{
    display: flex;
    color: #22d4fd;
    font-weight: normal;
    font-family: "Montserrat";
    justify-content: left;
    align-items: center;
}

.sobremim-conteudo p{
    color: #ccc;
    margin-top: 20px;
    font-size: 13px;
    margin-left: 170px;
    line-height: 10px;
    word-break: break-all;
}
