* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 60px;
    position: absolute;
    top: 50px;
    left: 17%;
}

nav a {
    color: #22d4fd;
    margin-right: 30px;
    text-decoration: none;
    font-weight: normal;
    font-family: "Montserrat";
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.conteudo {
    max-width: 500px;
    position: absolute;
    left: 20%;
    top: 25%;
}

.conteudo h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Krona One";
}

.conteudo span {
    color: #22d4fd;
}

.conteudo p {
    margin: 20px 0;
    color: #ccc;
    line-height: 1.5;
    margin-top: 20px;
}

.redes h2 {
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 15%;
    font-size: 17px;
    font-family: "Krona One";
    font-weight: 400;
}

.botao {
    display: block;
    border: 2px solid #22d4fd;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.botao:hover {
    background: #256b7b;
    color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #22d4fd, #0ff);
    color: black;
    margin-top: 43%;
    position: sticky;
    top: 100vh;
}
.git {
    position: absolute;
    top: 65%;
    right: 60%;
    width: 35px;
}
.linkd {
    position: absolute;
    top: 78%;
    right: 62%;
    width: 25px;
}
.insta {
    position: absolute;
    top: 90%;
    right: 62%;
    width: 30px;
}
.perfil{
    position: absolute;
    width: 345px;
    height: 310px;
    left: 950px;
    top: 225px;
    border: 2px solid #22d4fd;
    border-radius: 12px;

}
.Vinícius {
    position: absolute;
    width: 20%;
    height: 38%;
    left: 55%;
    top: 30%;
    border-radius: 10px;
}